In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./salaries_by_college_major.csv")

In [3]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

### Preliminary Data Exploration quea

1. How many rows does our dataframe have? 

2. How many columns does it have?

3. What are the labels for the columns? Do the columns have names?

4. Are there any missing values in our dataframe? Does our dataframe contain any bad data?

In [4]:
# number of rows and columns
df.shape

(51, 6)

our data set has 51 rows and 6 column

In [5]:
# list of all columns
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [6]:
# checking for nan 
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [7]:
# check for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

There are some missing values in the columns #1, 2, 3, 4, 5

In [8]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [9]:
# droping the rows with nan values
clean_df = df.dropna()

In [10]:
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

### Accessing Columns and Individual Cells

#### 1. Find College Major with Highest Starting Salaries

In [11]:
# max value in the column
clean_df['Starting Median Salary'].max()

74300.0

In [12]:
# index of the max value row
clean_df['Starting Median Salary'].idxmax()

43

In [13]:
clean_df.iloc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

#### 2. What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [14]:
clean_df['Mid-Career Median Salary'].max()

107000.0

In [15]:
clean_df['Mid-Career Median Salary'].idxmax()

8

In [16]:
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [17]:
clean_df[clean_df['Undergraduate Major'] == 'Chemical Engineering']

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM

#### 3. Which college major has the lowest starting salary and how much do graduates earn after university?

In [18]:
clean_df['Starting Median Salary'].min()

34000.0

In [19]:
clean_df['Starting Median Salary'].idxmin()

49

In [20]:
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

#### 4. Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [21]:
clean_df['Mid-Career Median Salary'].min()

52000.0

In [22]:
clean_df['Mid-Career Median Salary'].idxmin()

18

In [23]:
clean_df.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

### Sorting Values & Adding Columns

Majors with the Most Potential vs Lowest Risk

A low-risk major is a degree where there is a small difference between the lowest and highest salaries.

In [24]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
type(spread_col)

pandas.core.series.Series

In [25]:
# add a new column in df 
clean_df.insert(1, 'Spread', spread_col) #position, name, data

In [26]:
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

#### 1. find the degrees with the lowest spread? Find the top 5 degrees with the highest values in the 90th percentile.

In [27]:
low_risk = clean_df.sort_values('Spread') # sorted values by spread and save it new DF

In [28]:
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

#### 2.  find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [29]:
high_risk = clean_df.sort_values('Spread', ascending=False)

In [30]:
high_risk[['Undergraduate Major', 'Spread', 'Mid-Career 90th Percentile Salary']].head()

   Undergraduate Major    Spread  Mid-Career 90th Percentile Salary
17           Economics  159400.0                           210000.0
22             Finance  147800.0                           195000.0
37                Math  137800.0                           183000.0
36           Marketing  132900.0                           175000.0
42          Philosophy  132500.0                           168000.0

#### 3. find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile.

In [31]:
high_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

In [32]:
high_potential[['Undergraduate Major', 'Spread', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major    Spread  Mid-Career 90th Percentile Salary
17             Economics  159400.0                           210000.0
22               Finance  147800.0                           195000.0
8   Chemical Engineering  122100.0                           194000.0
37                  Math  137800.0                           183000.0
44               Physics  122000.0                           178000.0

#### the degrees where the median salary is very high.

In [33]:
high_mid_sal = clean_df.sort_values('Mid-Career Median Salary', ascending=False)

In [34]:
high_mid_sal[['Undergraduate Major', 'Spread', 'Mid-Career Median Salary']].head()

       Undergraduate Major    Spread  Mid-Career Median Salary
8     Chemical Engineering  122100.0                  107000.0
12    Computer Engineering   95900.0                  105000.0
19  Electrical Engineering   98700.0                  103000.0
1    Aerospace Engineering   96700.0                  101000.0
17               Economics  159400.0                   98600.0

### Grouping and Pivoting Data

### 1. which category of degrees has the highest average salary? Is it STEM, Business or HASS (Humanities, Arts, and Social Science)?

In [35]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

There are 3 group and Business has 12 records, HASS has 22 and STEM has 16

In [39]:
# find the average salary by group? 

pd.options.display.float_format = '{:,.2f}'.format 
clean_df.groupby('Group').mean(numeric_only= True)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

# Learning

- Use **.head()**, **.tail()**, **.shape** and .columns** to explore your DataFrame and find out the number of rows and columns as well as the column names.

- Look for NaN (not a number) values with **.findna()** and consider using **.dropna()** to clean up your DataFrame.

- You can access entire columns of a DataFrame using the square bracket notation: **df['column name']** or **df[['column name 1', 'column name 2', 'column name 3']]**

- You can access individual cells in a DataFrame by chaining square brackets **df['column name'][index]** or using **df['column name'].loc[index]**

- The largest and smallest values, as well as their positions, can be found with methods like **.max()**, **.min()**, **.idxmax()** and **.idxmin()**

- You can sort the DataFrame with **.sort_values()** and add new columns with **.insert()**

- To create an Excel Style Pivot Table by grouping entries that belong to a particular category use the **.groupby()** method



<img title="a title" width=200px height=200px alt="Alt text" src="https://img-c.udemycdn.com/redactor/raw/2020-10-10_09-13-17-db5a336aa6ed3d1b01fd1c12ae5cb5eb.jpg">